body{
  font-family: "bennet-display", sans-serif;
font-weight: 400;
font-style: bold;
margin:0;
align-items: center;
text-align: center;
display:flex;
flex-direction: column;
background-image: url(blueback.avif);
background-repeat: no-repeat;
background-size: cover;

}
div.choices{
  margin:15px;
}
h1{
  font-family: "bennet-display", sans-serif;
font-weight: 400;
font-style: bold;
color:black;
font-size: 2rem;
margin-top: 30px;
}
.choices{
  margin-bottom:20px;
}
.choices button{
  font-size:7.5rem;
  width:160px;
  margin: 0 10px;
  border-radius: 200px;
  background-color: rgb(224, 213, 180);
  transition: background-color 0.5s ease;
}
.choices button:hover{
  background-color: rgb(224, 228, 26);
}
#playerDisplay{
  font-size: 2rem;
}
#computerDisplay{
  font-size: 2rem;
}
#resultDisplay{
  font-size: 3rem;
  color:blue;
  margin: 20px 0;
  font-family: "masonic-lodge", sans-serif;
font-weight: 400;
font-style: normal;
}
.playerScoreDisplay{
  font-size:2rem;

}
.computerScoreDisplay{
  font-size:2rem;
}
#greeting{
  color: rgb(9, 9, 160);
  transition:opacity 1s ease-in-out, 1s ease-in-out;
  font-size: 40px;
}
#greeting:hover{
  color: rgb(122, 122, 223);
} 