
.gimlet-display{
    font-family: "gimlet-display", serif;
font-weight: 400;
font-style: normal;
color:white;
font-size:50px;
}
body{
    background-image: url(blackback.jpg);
}
.text-center{
color:white;
}